<!DOCTYPE html>
<html>
<head>
  <title>ToDoList</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="bg"> 
    <%= image_tag ("bg.png") %>
  </div>
	<div class="container">
		<div class="row">
      <div class="col-md-8 col-md-offset-2" >
        <div class="logout">
          <% if user_signed_in? %>
            <%= link_to (image_tag ("logout.png"), title: 'Logout'), destroy_user_session_path, :method => :delete%>
          <% end %>
        </div>
        <div class="page-header">
          <div class="flash">
            <%= render "layouts/flash"%>
          </div>
          <h1>SIMPLE TODO LISTS</h1>
          <h4>FROM RUBY GARAGE</h4>
        </div>
        <div class="yield">
				  <%= yield %>
        </div>
        <footer>
          <p>&copy; Ruby Garage</p>
        </footer>  
        <%= render "layouts/modal"%>   
      </div>
    </div>	
	</div>
</body>
</html>
